.nav-link {
    color: white;
}

nav {
    display: flex;
    flex-direction: row;
    margin-bottom: 2em;
}

body {
    background-color: #343a40;
    color: white;
}

h1 {
    text-align: center;
}

#mm-config {
    text-align: center;
    margin-top: 1em;
    margin-bottom: 1em;
}

a {
    color: white;
    text-decoration: none;
}

a:hover {
    color: white;
    text-decoration: none;
}

.table {
    color: white;
    border-bottom-width: 0;
    width: 30%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 2em;
}

h5 #mm-btn-play #mm-replay #mm-btn-replay{
    justify-content: center;
    text-align: center;
    color: white;
    display: inline-block;
}
