{% extends 'base.html' %}
{% block content %}
    <h1>Game Rule</h1>
    <p>Please implement a mastermind game,
        which can be played by a user "against" the computer.
        Thisisagamewhereaplayertriestoguessthenumbercombinations.
        Attheendofeach attempt to guess the 4 number combinations,
        the computer will provide feedback whether the player had guess a number correctly,
        or/and a number and digit correctly.
        A player must guess the right number combinations within
        10 attempts to win the game.</p>
{% endblock %}
