{% extends 'base.html' %}

{% block script %}
<script src="/js/play.js"></script>
{% endblock %}

{% block content %}

<h1>Mastermind</h1>
<div class="container" id="mm-config">
    <div id="mm-digits-config">
        <label for="num-digits-request">Choose how many digits you want to guess against:</label>
        <select id="num-digits-request" name="num-digits-request">
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
            <option value="5">5</option>
            <option value="6">6</option>
            <option value="7">7</option>
            <option value="8">8</option>
            <option value="9">9</option>
            <option value="10">10</option>
        </select>
    </div>

    <div id="mm-attempts-config">
        <label for="num-attempts-request">Choose how many guesses you wish</label>
        <select id="num-attempts-request" name="num-attempts-request">
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
            <option value="5">5</option>
            <option value="6">6</option>
            <option value="7">7</option>
            <option value="8">8</option>
            <option value="9">9</option>
            <option value="10">10</option>
        </select>
    </div>
    <button type="button" class="btn btn-primary" id="mm-btn-start">Start!</button>
</div>

<div id="combination-result"></div>
<div id="mastermind"></div>

<div id="mm-result"></div>

{% endblock %}
