{% extends 'base.html' %}
{% block content %}
<div class="container">
    <h1>Game Rules</h1>
    <p>This is a game where you try to guess the number combinations.
    <ul>
        <li>Starting by select the number of digits that you want to guess and number of attempts you wish.</li>
        <li>You must enter full combination that you guess.</li>
        <li>At each attempts, you will be provided feedback whether you had guess a number correctly, and/or a number and digit correctly.</li>
        <li>You must guess the right number combinations within the number of requested attempts to win the game.</li>
        <li>Duplicate numbers are allowed in the combination.</li>
    </ul>

    <div class="col text-center" id="mm-play">
        <button type="button" class="btn btn-primary" id="mm-btn-play" onclick="location.href='/play';">Play Game!</button>
    </div>
</div>

{% endblock %}
